<div class="card" style="margin:40px">
  <span class="card-header">
    <img src="{{comment.user.avatar_url}}" style="width:40px; float:left; margin-right: 10px;"/>
    <h6 class="card-subtitle mb-2 text-muted" style="padding-top: 20px;">{{comment.user.login}} - <small>{{comment.created_at | date:'yyyy-MM-dd'}}</small></h6>
  </span>
  <div class="card-block">
    <div [innerHTML]="comment.body | markdown"></div>
  </div>
</div>