<div style="margin-left:40px; margin-right:40px; margin-top:10px">
  <label>Gist ID</label>
  <input [(ngModel)]="gistId" placeholder="gist id" (change)="gistIdChange()">
  <button type="button" style="margin-top:5px" (click)="gistIdChange()">Load</button>
  <i *ngIf="isLoading" class="fa fa-cog fa-spin fa-2x fa-fw"></i>
  <div>
    <div><small>single_file : <b>6dfe28bf3abeffcca461</b></small></div>
    <div><small>multiple_files: <b>7621795</b></small></div>
    <div><small>with_comments: <b>4730490</b></small></div>
  </div>
  <alert *ngIf="errorMsg != null && errorMsg != ''" type="danger">{{errorMsg}}</alert>
</div>
<div *ngIf="files.length > 0">
  <div *ngFor="let file of files">
    <source-viewer [source]="file"></source-viewer>
  </div>
</div>
<div *ngIf="comments.length > 0">
  <div *ngFor="let comment of comments">
    <comment-viewer [comment]="comment"></comment-viewer>
  </div>
</div>