<div class="card" style="margin:40px">
  <div class="card-header">
    <h4 class="card-title">{{source.filename}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{source.language}} - {{source.type}} - {{source.size}} Bytes</h6>
  </div>
  <div class="card-block">
    <pre><code mwlHighlightJs [source]="source.content" language="{{source.language}}"></code></pre>
  </div>
</div>